.div1 {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.cards {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
}

.ramsdiv {
    background-image: url(../../assets/pizza.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 1000px;
    height: 300px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}