* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ota_div {
    background-color: #1D0800;
    width: 100%;
    height: auto;
}

header {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Login {
    width: 163px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #FF5D29;
    color: white;
}

.btndiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #FF5D29;
}

footer {
    background: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
    width: 100%;
    height: 436px;
}

h2 {
    color: #A3A3A3;
}

h4 {
    color: #515151;
    font-size: 17.72px;
}